#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}